body{
	width: 100%;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	
	font-family: 'Titillium Web';
	font-size: 14px
}

#build-name-header{
	margin-left: 0.5em; 
}

#chart {
	border: 1px solid black;
	width: 70%;
	float: left;
	background: #f8f8f8;
}

svg {
	width: 100%;
	height: 700px;
}


#hover-menu-group{

}
#hover-menu-box{
	fill: #2d2d2d;
}

#hover-menu-text{
	fill: white;
	font-weight: bold;
	font-size: 12;
}





#sidebar{
	width: 250px;
	height: 700px;
	float: left;
	margin-left: 1em;
	border: 1px solid black;
}

#detail-list{
	height: 700px;
	overflow: hidden; 
	overflow-y: scroll;
}

#details-summary{
	
}

.summary-detail{
	background-color: lightgrey;
	border: 1px solid grey;

	padding-top: 0.5em;
	padding-bottom: 0.5em;

}
.summary-detail-label{
	font-weight: bold;
}
.summary-detail-value{
	padding-top: 0.2em;
	padding-left: 1em;
}
.summary-detail-value>a{
	padding: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
	background-color: #2D2D2D;
	font-weight: bold;
}





#component-list{
	position: relative;
	width: 100%;
}

.component{
	width: 100%;
	border: 1px solid grey;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.component-type-label{
	font-weight: bold;
}
.component-name-label{

	float: none;
	word-wrap: break-word;
	text-decoration: none;
}
.component-name-label>a{
	text-decoration: none;
}
.component-name-label>a:hover{
	float: none;
	word-wrap: break-word;
	text-decoration: underline;
}
.component-price-label{
	float: right;
	width: 25%;
	padding-left: 0.5em;
	font-weight: bold;
}

.component-type-CPU{
	background-color: #e41a1c;
}
.component-type-Video-Card{
	background-color: #377eb8;
}
.component-type-Motherboard{
	background-color: #4daf4a;
}
.component-type-Memory{
	background-color: #984ea3;
}
.component-type-Storage{
	background-color: #ff7f00;
}
.component-type-Power-Supply{
	background-color: #ffff33;
}
.component-type-Case{
	background-color: #a65628;
}
.component-type-Miscellaneous{
	background-color: #666666;
}




.stacked-bar-pc-price{
	font-weight: bold;
	font-size: 18;
}

.stack-bar:hover{
	stroke: #ffff00;
	stroke-width: 2;
}
.bar-part-type-CPU {
	fill: #e41a1c;
	opacity: 1.0;
}
.bar-part-type-Video-Card{
	fill: #377eb8;
	opacity: 1.0;
}
.bar-part-type-Motherboard{
	fill: #4daf4a;
	opacity: 1.0;
}
.bar-part-type-Memory{
	fill: #984ea3;
	opacity: 1.0;
}
.bar-part-type-Storage{
	fill: #ff7f00;
	opacity: 1.0;
}

.bar-part-type-Power-Supply{
	fill: #ffff33;
	opacity: 1.0;
}
.bar-part-type-Case{
	fill: #a65628;
	opacity: 1.0;
}
.bar-part-type-Miscellaneous{
	fill: #666666;
	opacity: 1.0;
}

.stacked-bar-pc-name{
	fill: black;
	font-weight: bold;
}
.stacked-bar-pc-name:hover{
	fill: blue;
	cursor: pointer;
	text-decoration: underline;
}

.pie-section-none{
	fill: #FF5252;
}

.pie-section-min{
	fill: #FFEB52;
}

.pie-section-rec{
	fill: #5AFF52;
}

.pie-section-none:hover, .pie-section-min:hover, .pie-section-rec:hover{
	stroke: black;
	stroke-width: 2;
}


.xAxis path, .xAxis line, .yAxis path, .yAxis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

