body {
    width: 960px;
    margin: auto;
}
h1{font-family: sans-serif;}

#chart {
    width: 960px;
    height: 70%;
    clear: both;
	background-color: #F1F1F1
}

.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.control               { float: left; padding-left: 2em; margin-bottom: 1em;}
.control label         { display: block; text-align: center;}
.control input         { width: 2.5em; }
.control button        { border: outset 2px; }
.control button:active { border: inset 2px; }


#events {
    height: 15ex;
    overflow-y: scroll;
    color: #444;
    font-family: monospace;
    border: 1px solid #eee;
}

#events span:first-child {
    width: 10em;
    display: inline-block;
}

.item-bar{
    margin: auto;
    margin-top: 1em;
    width: 470px;
    height: 115px;
    background: #CCCCCC;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #2A2A2A;
    border-bottom: 1px solid #2A2A2A;
    z-index: 600;
}
.item-slot-container{
    margin-left: 12px;
    margin-top: 12px;
    position: relative;
}
.item-bar svg{width: 100%; height: 100%}


.item-slot, .item-slot-overlay{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #2A2A2A;
    border-bottom: 1px solid #2A2A2A;
    background-color: #7b7b7b;
    margin: 1px;
}

.item-slot img, .item-slot-overlay img{
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-slot:hover{
    background-color: #ff7f00;
}
.item-slot, .item-slot-overlay{
    cursor: pointer;
}
.item-slot-overlay.hover{ /* This hover is programmatic */
    background-color: #ff7f00;
}

.item-slot-overlay:hover{
    background-color: #ff7f00;
}

#inventory-overlay{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#inventory{
    width: 960px;
    height: 500px;
    margin: auto;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    background-color: #CCCCCC;
    z-index: 1000;
}

#inventory-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.category-button{
    position: relative;
    display: inline-block;
}

.category-button:hover{
    background-color: #ff7f00;
}


.item{
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.item-icon-text{
    fill: #FFFFFF;
    color: #FFFFFF;

    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;

    text-anchor: end;
    text-shadow:
            0px 1px 1px #000,
            0px -1px 1px #000,
            1px 0px 1px #000,
            -1px 0px 1px #000;
}

.cursor-icon-text{
    position: absolute;
    bottom: -3px;
    right: 2px;
}

.item-bar-icon-text{
    position: absolute;
    text-align: end;
}

.item:hover{
    background-color: #ff7f00;
}

#item-cursor{
    position: absolute;
    width: 32px;
    height: 32px;
    display: none;
    z-index: 100000;
}

